body, html {
  font-family: 'Fira Sans', BlinkMacSystemFont, 'Helvetica Neue', -apple-system,  'Segoe UI',  'Oxygen', 'Ubuntu', 'Cantarell',  'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(120,120,120);
  align-content: center;
}